<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{.siteName}}</title>
        <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">        
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" media="all">
        <link rel="stylesheet" href="/static/css/main.css?s=1224">
        <!-- <link rel="stylesheet" href="/static/css/animate.min.css"> -->
        <script src="/static/layui/layui.js?s=36" charset="utf-8"></script>
        <script src="/static/js/lodash.min.js?s=36" charset="utf-8"></script>  
    </head>
    <body>
        <div class="layui-layout layui-layout-admin kit-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">{{.siteName}}</div>
                <ul class="layui-nav layui-layout-right kit-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="/static/img/userface.jpg" class="layui-nav-img">{{.userName}}
                        </a>
                    </li>
                    <li class="layui-nav-item"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
                </ul>
            </div>
            <div class="layui-side layui-bg-black kit-side">
                <div class="layui-side-scroll">
                    <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" lay-filter="cmsMenu">
                        {{.MenuContent}}
                    </ul>
                </div>                                
            </div>   
            <div id="container" class="layui-body">
                {{.LayoutContent}}
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                2018 &copy; Power by Beego
            </div>
        </div>
        <script>
            layui.config({
                base: '/static/js/'
            }).use(['index', 'tablev2', 'treev2'], function() {
                var $ = layui.$,
                    layer = layui.layer;
                    element = layui.element;                

                //监听导航点击
                element.on('nav(cmsMenu)', function(elem){
                    elem.find("a[kit-target]").each(function(i, e) {
                        $.ajax({
                            method: "GET",
                            url: $(e).data('url'),
                        })
                        .done(function(msg) {
                            $('#container').html(msg);                           
                        })
                        .fail(function() {
                            layer.msg('加载"'+elem.text()+'"失败');
                        });
                    })
                });
                $.fn.extend({
                    animateCss: function (animationName, callback) {
                        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                        this.addClass('animated ' + animationName).one(animationEnd, function() {
                            $(this).removeClass('animated ' + animationName);
                            if (callback) {
                                callback();
                            }
                        });
                        return this;
                    }
                });
            });
        </script>
    </body>
    </html>